@import "~bootstrap/scss/bootstrap.scss";

div{
   background: rgb(226, 147, 43);   
   font-size: 50px;  
   display: inline;
   margin: auto;
   text-align: center;
   color: rgb(147, 219, 30);
   padding: 0;
   
 
}

.contador{
    border: 2px solid gray;
    width: 100px;
    height: 150px;

}

